@model List<WebAtividadeEntrevista.Models.BeneficiarioModel>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Beneficiários</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="formCadBeneficiario" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="CPF">CPF:</label>
                            <input required="required" type="text" class="form-control cpf-beneficiario" placeholder="999.999.999-99" onkeyup="mascara('###.###.###-##',this,event,true)" id="CPF" name="CPF" maxlength="14">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Nome">Nome:</label>
                            <input required="required" type="text" class="form-control  nome-beneficiario" id="Nome" name="Nome" placeholder="Ex.: João XI" maxlength="50">
                        </div>
                    </div>
                    <div class="col-md-4 ui-button">

                        <button type="button" class="btn btn-sm btn-success gravar-beneficiario" onclick="gravarBeneficiario()">Incluir</button>
                    </div>
                </div>
            </form>
            <table id="gridBeneficiarios" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id=@item.Id>
                            <td width="20%">
                                @Html.HiddenFor(modelItem => item.Id)
                                @Html.HiddenFor(modelItem => item.IdCliente)
                                @Html.DisplayFor(modelItem => item.CPF)
                            </td>
                            <td width="50%">
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td width="30%">
                                <button type="button"
                                        class="btn btn-primary" @*alterar-beneficiario*@
                                        onclick="alterarBeneficiario('@item.Id', '@item.Nome','@item.CPF','@item.IdCliente')"
                                        data-id="@item.Id"
                                        data-name="@item.Nome"
                                        data-cpf="@item.CPF"
                                        data-idcliente="@item.IdCliente">
                                    Alterar
                                </button>
                                <button type="button" class="btn btn-primary deletar-beneficiario" onclick="deletarBeneficiario('@item.Id')" data-id="@item.Id">
                                    Excluir
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var urlExcluirBenef = '@Url.Action("Excluir", "Beneficiario", new { area = "" })';
        var urlAlterarBenef = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
        var urlIncluirBenef = '@Url.Action("Incluir", "Beneficiario", new { area = "" })';

     //var urlBeneficiarioList = '@Url.Action("BeneficiarioList", "Beneficiario", new { area = "" })';


    </script>
    @Scripts.Render("~/bundles/beneficiarios")
    @Scripts.Render("~/bundles/ExcBeneficiario")
    @Scripts.Render("~/bundles/altBeneficiarios")
    
    @*@Scripts.Render("~/bundles/listBeneficiarios")*@

}
